body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  flex-grow: 1;
  text-align: center;
}

.navbar__logo img {
  max-width: 130px;
}

.navbar__cart img {
  max-width: 30px;
  margin-right: 20px;
}
